<quark-component>
    <div class="modal fade" data-bind="onBind: getElement">
        <div class="modal-dialog" data-bind="css: sizeStyle">
            <div class="modal-content">
                <!-- ko hasContent: 'modal-heading' -->
                    <div class="modal-header" data-bind="css: headingStyle">
                        <button type="button" class="close" data-bind="click: model.hide">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- ko content: 'modal-heading' -->
                        <!-- /ko -->
                    </div>
                <!-- /ko -->
                <div class="modal-body">
                    <!-- ko content: 'modal-body' -->
                    <!-- /ko -->
                </div>
                <!-- ko hasContent: 'modal-footer' -->
                    <div class="modal-footer">
                        <!-- ko content: 'modal-footer' -->
                        <!-- /ko -->
                    </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</quark-component>
