<quark-component>
    <div class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <!-- ko if: icon() -->
                    <span data-bind="css: icon"></span>
                <!-- /ko -->
                <span data-bind="text: text"></span>
                <span class="caret"></span>

            </a>
            <!-- ko if: model.alerts().length == 0 -->
               <ul class="dropdown-menu">
                    <li>
                        &nbsp; &nbsp;<span class="text-success fa fa-check-circle"></span> &nbsp;
                        <span class="text-success">No posee alertas</span>
                    </li>
                </ul>
            <!-- /ko -->
            <!-- ko if: model.alerts().length > 0  -->
                <ul class="dropdown-menu" data-bind="foreach: alerts">
                    <li>
                        <a data-bind="attr: { href: $parent.url(routeName, routeOptions) }">
                            <!-- ko if: icon -->
                                <span data-bind="css: icon"></span>
                            <!-- /ko -->
                            <span class="text-success fa fa-check-circle"></span> &nbsp;
                            <span class="text-success" data-bind="html: text"></span>
                        </a>
                    </li>
                </ul>
           <!-- /ko -->
        </li>
    </div>
</quark-component>
